/* Card.css */
.card {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px; /* Maintain padding */
  width: 100%;
  font-family: 'Rhodium Libre', serif;
}
/* Add this to your Card.css or a similar CSS file */
button {
  background-color: #4CAF50; /* Green background */
  color: white; /* White text */
  padding: 10px 20px; /* Padding */
  border: none; /* Remove borders */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor */
}

button:hover {
  background-color: #45a049; /* Darker green on hover */
}
  

.card-title {
  font-family: 'Rhodium Libre', serif;
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}
  
.card-value {
  font-size: 18px;
  color: #666;
}

/* Adjustments for mobile screens */
@media (max-width: 480px) {
  .card-title {
    font-size: 20px; /* Slightly reduce title size */
  }
  
  .card-value {
    font-size: 16px; /* Slightly reduce value size */
  }
}
