/* Apply the Rhodium Libre font to the entire body */
body, html, #root, .App {
  height: 100%;
  margin: 0;
  font-family: 'Rhodium Libre', serif;
}

/* Dashboard container */
.dashboard-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* Space between cards */
  gap: 20px;
  padding: 20px;
  transition: margin-left 0.3s;
  min-height: 85vh;
  width: 100%; /* Allow full width */
  margin: 0 auto; /* Center the dashboard */
  overflow-y: auto; /* Allow vertical scrolling if content overflows */
  overflow-x: hidden; /* Prevent horizontal overflow */
}

/* Card container */
.card-container {
  flex: 1 1 auto;
  max-width: calc(100% - 40px); /* Adjusts based on screen size */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  box-sizing: border-box; /* Ensures padding and width are calculated together */
}


.card-container:hover {
  transform: scale(1.05); /* Slightly enlarge the card on hover */
}

/* Adjust for tablet screens */
@media (max-width: 1200px) {
  .card-container {
    flex: 1 1 calc(50% - 40px); /* 2 cards per row on medium screens */
  }
}

/* Adjust for mobile screens */
@media (max-width: 768px) {
  .card-container {
    flex: 1 1 100%; /* 1 card per row on small screens */
  }
}

/* Card title */
.card-title {
  font-family: 'Rhodium Libre', serif;
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
  text-align: center; /* Center the text */
  width: 100%; /* Allow title to take full width */
}

/* Card value */
.card-value {
  font-size: 18px;
  color: #666;
  text-align: center; /* Center the text */
  width: 100%; /* Allow value to take full width */
}

/* Map container */
.map-container {
  width: 100%;
  height: 100%;
  background-color: #F0F0F0;
}

/* Circular progress */
.circular-progress {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.circular-progress-inner {
  width: 100%; /* Adjust size for larger screens */
  height: 150px;
  max-width: 300px; /* Cap the size */
  border-radius: 50%;
  border: 20px solid #4CAF50; /* Adjust border thickness */
  overflow: visible;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px; /* Adjust font size */
  font-weight: bold;
}

/* Ensure the donut chart adjusts appropriately */
.doughnut-chart {
  width: 100%; /* Allow chart to take full width */
  height: auto;
  max-width: 400px; /* Cap the size */
}

.wordcloud {
  width: 100%;
  height: 100%;
}