@import url('https://fonts.googleapis.com/css2?family=Rhodium+Libre&display=swap');

/* src/App.css */
body, html, #root, .App {
  height: 100%;
  margin: 0;
  font-family: 'Rhodium Libre', serif; /* Apply the global font */
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 10px;
  width: 100%;
}

.Sidebar {
  display: none; /* Hide sidebar initially */
}

.Sidebar.open {
  display: block; /* Show sidebar when open */
}

.Content {
  flex-grow: 1;
  padding: 20px;
  transition: margin-left 0.3s;
}

.Content.shifted {
  margin-left: 100px; /* Adjust according to sidebar width */
}

.DashboardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
  transition: margin-left 0.3s;
}

.StyledCard {
  margin: 20px;
  padding: 20px;
  flex-grow: 1;
}
